.text-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 10px 0;

    .btn-add {
        button {
            background-color: #008060;
            color: #fff;
        }
    }
}

.Polaris-PositionedOverlay {
    .Polaris-Popover {
        .Polaris-Stack__Item {
            cursor: pointer !important;

            // .Polaris-Box {
            ul {
                --pc-box-padding-inline-start-xs: 0 !important;

                label {
                    padding-left: 0;
                }
            }
        }

        .Polaris-Button__Content {
            color: blue;
        }

        // }

    }

    .Polaris-ActionList__Item {
        --pc-action-list-item-vertical-padding: unset
    }
}

.Polaris-Filters__TagsContainer {
    display: none !important;
}

.Polaris-Columns {
    align-items: center;
}

.Polaris-ButtonGroup--segmented {
    margin-left: 90%;
}

.pagination {
    display: flex;
    justify-content: end;
}